/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
   themes: sunset --default;
 }

 @keyframes fade-in {
  from { opacity: 0; transform: translateY(-4px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}